@CHARSET "UTF-8";
label[for=endDate]:after {
  content: attr(data-error);
  color: #F44336;
  position: relative;
  opacity: 1;
}

label[for=type]:after {
  content: attr(data-error);
  color: #F44336;
  position: relative;
  opacity: 1;
}

