<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Access denied</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
</head>
<body>
	<div align="left">
		<h2>You don't have rights to access this page.</h2>
	</div>

	<div class="row center">
		<a th:href="@{/}" class="btn waves-effect waves-light"> <i
			class="material-icons">keyboard_return</i> Home page
		</a>

		<!-- <form class="col s12" method="get" th:action="@{/}">
		<button class="btn waves-effect waves-light" type="submit" name="action">
			<i class="material-icons">keyboard_return</i>
				Home page
		</button>
		</form> -->
	</div>
</body>
</html>