<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projects</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div class="row right">
			<div th:if="${currentUserRole} == 'ROLE_ADMIN'">
				<a
					th:href="@{/adminPanel}"
					class="btn waves-effect waves-light"> <i class="material-icons left">undo</i> Admin Panel</a>
				
				<!-- <form class="col s12" method="get" th:action="@{/adminPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> Admin Panel
					</button>
				</form> -->
			</div>
		</div>

		<div class="row right">
			<div th:if="${currentUserRole} == 'ROLE_USER'">
				<a
					th:href="@{/userPanel}"
					class="btn waves-effect waves-light"> <i class="material-icons left">undo</i> User Panel</a>
				
				<!-- <form class="col s12" method="get" th:action="@{/userPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> User Panel
					</button>
				</form> -->
			</div>
		</div>

		<h1>Active Projects</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Type</th>
				<th>Project Lead</th>
				<th>Start date</th>
				<th>End Date</th>
			</tr>
			<tr th:each="proj : ${projectsList}">
				<td th:text="${proj.projectId}">001</td>
				<td th:text="${proj.name}">Name</td>
				<td th:text="${proj.type}">Type</td>
				<td th:text="${proj.projectLead}">Project lead</td>
				<td th:text="${proj.startDate}">Start date</td>
				<td th:text="${proj.endDate}">End date</td>
				<td><a
					th:href="@{/tickets/project={projectId}/newTicket(projectId=${proj.projectId})}"
					class="btn btn-default">ADD TICKET</a></td>
			</tr>
		</table>
	</div>
</body>
</html>