<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity3">
<head>
<meta charset="utf-8" />
<title>Trouble ticketing</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
</head>
<body>
	<nav class="nav-extended">
		<div class="nav-wrapper teal">
			<a href="#" class="brand-logo">Admin menu</a>
		</div>
		<div class="nav-content teal">
			<ul class="tabs tabs-transparent">
				<li class="tab"><a th:href="@{/logout}"><b>Logout</b></a></li>
			</ul>
		</div>
	</nav>
	<div align="left" sec:authorize="isAuthenticated()">
		You are logged in as <b sec:authentication="name"></b> with roles <span
			sec:authentication="authorities"></span>
		<hr />
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card teal" style="width: 205%">
				<div class="card-content white-text">
					<span class="card-title">Manage Projects</span>
				</div>
				<div class="card-action">
					<a th:href="@{/projects/new}">New project</a> <a
						th:href="@{/projects/list}">All projects</a> <a
						th:href="@{/projects/active}">Current projects</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m6">
			<div class="card teal" style="width: 205%">
				<div class="card-content white-text">
					<span class="card-title">Manage Tickets</span>
				</div>
				<div class="card-action">
					<a th:href="@{/tickets/list}">All tickets</a> <a
						th:href="@{/tickets/reported}">Reported</a> <a
						th:href="@{/tickets/assigned}">Assigned</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>