<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tickets</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Comments</h1>
    <table th:fragment="commentsList" class="striped">
      <tr>
      	<th>ID</th>
      	<th>Author</th>
        <th>Created</th>
        <th>Comment</th>
      </tr>
      <tr th:each="comment : ${commentsList}">
        <td th:text="${comment.commentId}">001</td>
        <td th:text="${comment.author}">Author</td>
        <td th:text="${comment.createdDate}">Created</td>
        <td th:text="${comment.body}">Comment</td>
      </tr>
    </table>
</body>
</html>