<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit Ticket Details</title>
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
	rel="stylesheet" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/css/style.css"
	th:href="@{/resources/css/style.css}" />
<script>
		$(document).ready(function() {
		$('select').material_select();

		function removeHiddenInputAfterCheckbox(form) {
			var inputs = form.getElementsByTagName("input");

			for (var i = 0; i < inputs.length; ++i) {
				var input = inputs[i];
				if (input.type == "hidden" && input.name == "_resolution") {
					input.parentNode.removeChild(input);
				}
			}
		}

		removeHiddenInputAfterCheckbox(editTicket);
	});
</script>
</head>
<body>
	<div class="container">
		<h2>Edit Ticket Details</h2>
		<div>
			<form id="editTicket" class="form-horizontal" th:object="${ticket}"
				th:action="@{/tickets/ticket={ticketId}/update(ticketId=${ticketId})}" method="post">
				<div class="form-group">
					<div class="input-field col s12"
						th:classappend="${#fields.hasErrors('subject')} ? 'has-error'">
						<input id="subject" th:field="*{subject}" type="text" class="validate" /> <label class="active"
							for="subject">Subject:</label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12">
						<select id="type" name="type" th:field="*{type}">
							<option th:value="Bug">Bug</option>
							<option th:value="Support">Support</option>
							<option th:value="Request">Request</option>
							<option th:value="Task">Task</option>
							<option th:value="Customer">Customer</option>
							<option th:value="Problem">Problem</option>
							<option th:value="Documentation">Documentation</option>
							<option th:value="Risk">Risk</option>
						</select> <label for="type">Type: </label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12">
						<select id="priority" name="priority" th:field="*{priority}">
							<option th:value="Low">Low</option>
							<option th:value="High">High</option>
						</select> <label for="priority">Priority: </label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12"
						th:classappend="${#fields.hasErrors('assignee')} ? 'has-error'">
						<input id="assignee" th:field="*{assignee}" type="text" /> <label
							class="active" for="assignee">Assignee:</label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12">
						<select id="status" name="status" th:field="*{status}">
							<option th:value="New">New</option>
							<option th:value="Open">Open</option>
							<option th:value="InProgress">In Progress</option>
							<option th:value="Closed">Closed</option>
							<option th:value="Resolved">Resolved</option>
						</select> <label for="status">Status: </label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12"
						th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
						<input id="description" th:field="*{description}" type="text"
							class="validate" /> <label class="active" for="description">Description:
						</label>
					</div>
				</div>
				<div class="form-group">
					<input type="checkbox" id="resolution" th:field="*{resolution}" />
					<label for="resolution">Is resolved?</label>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
			<div class="row center">
				<a
					th:href="@{/tickets/list}"
					class="btn waves-effect waves-light"><i
					class="material-icons left">undo</i> All tickets</a>
				<!-- <form class="col s12" method="get"
					th:action="@{/tickets/list}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> All tickets
					</button>
				</form> -->
			</div>
		</div>
	</div>
</body>
</html>