<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit Project Details</title>
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
	rel="stylesheet" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script type="text/javascript"
	src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<link rel="stylesheet"
	href="/resources/css/bootstrap-material-datetimepicker.min.css"
	th:href="@{/resources/css/bootstrap-material-datetimepicker.min.css}" />
<script type="text/javascript"
	src="/resources/js/bootstrap-material-datetimepicker.min.js"
	th:src="@{/resources/js/bootstrap-material-datetimepicker.min.js}"></script>
<link rel="stylesheet" type="text/css" href="/resources/css/style.css"
	th:href="@{/resources/css/style.css}" />
<script>
	$(document).ready(function() {
		$('select').material_select();

		$('.datetimepicker').bootstrapMaterialDatePicker({
			format : 'YYYY-MM-DD',
			time: false
		});
	});
</script>
</head>
<body>
	<div class="container">
		<h2>Edit Project Details</h2>
		<div>
			<form class="form-horizontal" th:object="${project}"
				th:action="@{/projects/project={projectId}/update(projectId=${projectId})}"
				method="post">
				<div class="form-group">
					<div class="input-field col s12"
						th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
						<input id="name" th:field="*{name}" class="validate" type="text" />
						<label class="active" for="name"> Name: </label>
						<!-- <div class="card red lighten-5">
							<div class="card-content red-text">
								<p th:errors="*{name}">[error]</p>
							</div>
						</div> -->
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12">
						<select id="type" name="type" th:field="*{type}"
							aria-required="true">
							<option th:value="Software">Software</option>
							<option th:value="Business">Business</option>
						</select> <label for="type">Type: </label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12"
						th:classappend="${#fields.hasErrors('projectLead')} ? 'has-error'">
						<input id="projectLead" th:field="*{projectLead}" class="validate"
							type="text" /> <label class="active" for="projectLead">
							Project lead: </label>
						<!-- <div class="card red lighten-5">
							<div class="card-content red-text">
								<p th:errors="*{projectLead}">[error]</p>
							</div>
						</div> -->
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12">
						<input type="text" class="datetimepicker" id="startDate"
							th:field="*{startDate}" readonly /> <label class="active"
							for="startDate"> Start date: </label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-field col s12"
						th:classappend="${#fields.hasErrors('endDate')} ? 'has-error'">
						<input type="text" class="datetimepicker" id="endDate"
							th:field="*{endDate}" readonly /> <label class="active"
							for="endDate"> End date: </label>
						<!-- <div class="card red lighten-5">
							<div class="card-content red-text">
								<p th:errors="*{endDate}">[error]</p>
							</div>
						</div> -->
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
			<div class="row center">
				<a class="btn waves-effect waves-light" th:href="@{/projects/list}">
				<i class="material-icons left">undo</i> All projects</a>
				<!-- <form class="col s12" method="get"
					th:action="@{/adminPanel/listProjects}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> All projects
					</button>
				</form> -->
			</div>
		</div>
	</div>
</body>
</html>