<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>Log in page</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>
	<div class="container">
		<h2 th:text="'Log in'"></h2>
		<div class="row">
			<form class="col s12" method="post" th:action="@{/login}">
				<div class="row">
					<div class="input-field col s12">
						<input name="username" type="text" class="validate"> <label
							class="active" for="username">User name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input name="password" type="password" class="validate"> <label
							class="active" for="password">Password</label>
					</div>
				</div>
				<div class="row center">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons right waves-effect">send</i> Log In
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>