<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Ticket</title>
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
	rel="stylesheet" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/css/style.css"
	th:href="@{/resources/css/style.css}" />
<script>
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
</head>
<body>
	<div class="container">
		<h2>New Ticket</h2>
		<form class="form-horizontal" method="post"
			th:action="@{/tickets/project={projectId}/newTicket(projectId=${projectId})}" th:object="${ticket}">
			<div class="form-group">
				<div class="input-field col s12"
					th:classappend="${#fields.hasErrors('subject')} ? 'has-error'">
					<input id="subject" th:field="*{subject}" type="text" /> <label
						class="active" for="subject">Ticket subject:</label>
				</div>
			</div>
			<div class="form-group">
				<div class="input-field col s12">
					<select id="type" name="type" th:field="*{type}">
						<option th:value="Bug">Bug</option>
						<option th:value="Support">Support</option>
						<option th:value="Request">Request</option>
						<option th:value="Task">Task</option>
						<option th:value="Customer">Customer</option>
						<option th:value="Problem">Problem</option>
						<option th:value="Documentation">Documentation</option>
						<option th:value="Risk">Risk</option>
					</select> <label for="type">Type: </label>
				</div>
			</div>
			<div class="form-group">
				<div class="input-field col s12">
					<select id="priority" name="priority" th:field="*{priority}">
						<option th:value="Low">Low</option>
						<option th:value="High">High</option>
					</select> <label for="priority">Priority: </label>
				</div>
			</div>
			<div class="form-group">
				<div class="input-field col s12"
					th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
					<input id="description" th:field="*{description}" type="text" /> <label
						class="active" for="description">Description: </label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>

		<div th:if="${currentUserRole} == 'ROLE_ADMIN'">
			<div class="row center">
				<a
					th:href="@{/adminPanel}"
					class="btn waves-effect waves-light"><i
					class="material-icons left">undo</i> Admin Panel</a>
				<!-- <form class="col s12" method="get" th:action="@{/adminPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> Admin Panel</button>
				</form> -->
			</div>
		</div>

		<div th:if="${currentUserRole} == 'ROLE_USER'">
			<div class="row center">
				<a
					th:href="@{/userPanel}"
					class="btn waves-effect waves-light"><i
					class="material-icons left">undo</i> User Panel</a>
				<!-- <form class="col s12" method="get" th:action="@{/userPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> User Panel</button>
				</form> -->
			</div>
		</div>
	</div>
</body>
</html>