<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Trouble ticketing</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h2 th:text="'Success'" align="center"></h2>
		<p th:text="'Ticket created successfully.'">
		<hr>
		<p>
			<b>Ticket properties</b>
		</p>
		<ul>
			<!--   <li th:text="'Id: ' + ${ticket.ticketId}"></li> -->
			<li th:text="'Subject: ' + ${ticket.subject}"></li>
			<li th:text="'Type: ' + ${ticket.type}"></li>
			<li th:text="'Priority: ' + ${ticket.priority}"></li>
			<li th:text="'Reporter: ' + ${ticket.reporter}"></li>
			<li th:text="'Project Id: ' + ${ticket.project.projectId}"></li>
			<li th:text="'Status: ' + ${ticket.status}"></li>
			<li th:text="'Description: ' + ${ticket.description}"></li>
		</ul>

		<div th:if="${currentUserRole} == 'ROLE_ADMIN'">
			<div class="row center">
				<a class="btn waves-effect waves-light" th:href="@{/adminPanel}">
				<i class="material-icons left">undo</i> Admin Panel</a>
				<!-- <form class="col s12" method="get" th:action="@{/adminPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> Admin
						Panel
					</button>
				</form> -->
			</div>
		</div>

		<div th:if="${currentUserRole} == 'ROLE_USER'">
			<div class="row center">
				<a class="btn waves-effect waves-light" th:href="@{/userPanel}">
				<i class="material-icons left">undo</i> User Panel</a>
				<!-- <form class="col s12" method="get" th:action="@{/userPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> User Panel
					</button>
				</form> -->
			</div>
		</div>
	</div>
</body>
</html>