<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />


<title>Trouble ticketing</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h2 th:text="'Success'" align="center"></h2>
		<p th:text="'Comment created successfully.'">
		<hr>
		<p>
			<b>Comment properties</b>
		</p>
		<ul>
			<li th:text="'Id: ' + ${comment.commentId}"></li>
			<li th:text="'Created on: ' + ${comment.createdDate}"></li>
			<li th:text="'Author: ' + ${comment.author}"></li>
			<li th:text="'Ticket Id: ' + ${comment.ticket.ticketId}"></li>
			<li th:text="'Comment: ' + ${comment.body}"></li>
		</ul>
		<div th:if="${currentUserRole} == 'ROLE_ADMIN'">
			<div class="row center">
				<a
					th:href="@{/tickets/ticket={ticketId}/details(ticketId=${ticketId})}"
					class="btn waves-effect waves-light"><i
					class="material-icons left">undo</i> Ticket details</a>
			</div>
		</div>
		<!-- <div th:if="${currentUserRole} == 'ROLE_USER'">
			<div class="row center">
				<form class="col s12" method="get" th:action="@{/userPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> User Panel
					</button>
				</form>
			</div>
		</div> -->
	</div>
</body>
</html>