<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Trouble ticketing</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<script>
	function comments(action) {
		var url = '/ticketing/tickets/ticket=';
		if (action == 'add') {
			url = url + $('#ticketId').val() + '/newComment';
		} else {
			url = url + $('#ticketId').val() + '/listComments';
		}
		$("#additionalContent").load(url);
	}
</script>
</head>
<body>
	<div class="container">
		<input id="ticketId" type="hidden" th:field="${ticket.ticketId}" />
		<h2 th:text="'Ticket details'" align="center"></h2>
		<hr>
		<ul>
			<li th:text="'Id: ' + ${ticket.ticketId}"></li>
			<li th:text="'Subject: ' + ${ticket.subject}"></li>
			<li th:text="'Type: ' + ${ticket.type}"></li>
			<li th:text="'Priority: ' + ${ticket.priority}"></li>
			<li th:text="'Reporter: ' + ${ticket.reporter}"></li>
			<li th:text="'Project Id: ' + ${ticket.project.projectId}"></li>
			<li th:text="'Status: ' + ${ticket.status}"></li>
			<li th:text="'Description: ' + ${ticket.description}"></li>
		</ul>

		<div id="links">
			<div>
				<div class="row center">
					<a
						th:if="${currentUserRole == 'ROLE_ADMIN' and ticket.resolution == false}"
						th:href="@{/tickets/ticket={ticketId}/edit(ticketId=${ticket.ticketId})}"
						class="btn btn-default">EDIT</a>
					<button id="addComment" name="addComment" onclick="comments('add')"
						class="btn btn-default" type="button"
						th:if="${(currentUserRole == 'ROLE_ADMIN' or currentUserRole == 'ROLE_USER') and ticket.resolution == false}">
						<i class="material-icons left">add_circle_outline</i> ADD COMMENT
					</button>
					<button id="listComments" name="listComments"
						onclick="comments('list')" class="btn btn-default" type="button"
						th:if="${currentUserRole == 'ROLE_ADMIN' or currentUserRole == 'ROLE_USER'}">COMMENTS</button>
				</div>
			</div>
			<!-- <div>
				<div class="row center">
					<button id="addComment" name="addComment" onclick="comments('add')"
						class="btn btn-default" type="button"
						th:if="${currentUserRole == 'ROLE_USER' and ticket.resolution == false}">
						<i class="material-icons left">add_circle_outline</i> ADD COMMENT
					</button>
					<button id="listComments" name="listComments"
						onclick="comments('list')" class="btn btn-default" type="button"
						th:if="${currentUserRole == 'ROLE_USER'}">COMMENTS</button>
				</div>
			</div> -->
		</div>
		<div id="additionalContent"></div>

		<div th:if="${currentUserRole} == 'ROLE_ADMIN'">
			<div class="row center">
			<a th:href="@{/adminPanel}" class="btn waves-effect waves-light">
				<i class="material-icons left">undo</i> Admin Panel
			</a>
				<!-- <form class="col s12" method="get" th:action="@{/adminPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> Admin Panel
					</button>
				</form> -->
			</div>
		</div>

		<div th:if="${currentUserRole} == 'ROLE_USER'">
			<div class="row center">
				<a th:href="@{/userPanel}" class="btn waves-effect waves-light">
				<i class="material-icons left">undo</i> User Panel
			</a>
				<!-- <form class="col s12" method="get" th:action="@{/userPanel}">
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						<i class="material-icons left">undo</i> User Panel
					</button>
				</form> -->
			</div>
		</div>
	</div>
</body>
</html>