<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tickets</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div th:if="${currentUserRole} == 'ROLE_ADMIN'"> 
        <div class="row right">
			<a class="btn waves-effect waves-light" th:href="@{/adminPanel}">
			<i class="material-icons left">undo</i>	Admin Panel</a>
			<!-- <form class="col s12" method="get" th:action="@{/adminPanel}">
			<button class="btn waves-effect waves-light" type="submit" name="action">
				<i class="material-icons left">undo</i>
					Admin Panel
			</button>
			</form> -->
	 	</div>
    </div>
    
    <div th:if="${currentUserRole} == 'ROLE_USER'"> 
        <div class="row right">
			<a class="btn waves-effect waves-light" th:href="@{/userPanel}">
			<i class="material-icons left">undo</i>	User Panel</a>
			<!-- <form class="col s12" method="get" th:action="@{/userPanel}">
			<button class="btn waves-effect waves-light" type="submit" name="action">
				<i class="material-icons left">undo</i>
					User Panel
			</button>
			</form> -->
	 	</div>
    </div>
		<h1>Tickets</h1>
		<table class="striped">
			<tr>
				<th>ID</th>
				<th>Subject</th>
				<th>Type</th>
				<th>Priority</th>
				<th>Report date</th>
				<th>Assignee</th>
				<th>Reporter</th>
				<th>Project Id</th>
				<th>Status</th>
				<th>Description</th>
				<th>Resolution</th>
			</tr>
			<tr th:each="ticket : ${ticketsList}">
				<td th:text="${ticket.ticketId}">001</td>
				<td th:text="${ticket.subject}">Subject</td>
				<td th:text="${ticket.type}">Type</td>
				<td th:text="${ticket.priority}">Priority</td>
				<td th:text="${ticket.reportDate}">Report date</td>
				<td th:text="${ticket.assignee}">Assignee</td>
				<td th:text="${ticket.reporter}">Reporter</td>
				<td th:text="${ticket.project.projectId}">Project Id</td>
				<td th:text="${ticket.status}">Status</td>
				<td th:text="${ticket.description}">Description</td>
				<td th:text="${ticket.resolution}">Resolution</td>
				<td><a
					th:href="@{/tickets/ticket={ticketId}/details(ticketId=${ticket.ticketId})}"
					class="btn btn-default">DETAILS</a></td>
			</tr>
		</table>
	</div>
</body>
</html>